//@import "~bootstrap/scss/bootstrap";
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "./header.scss";
@import "./jumbotron.scss";
@import "./comics.scss";
@import "./blueBand.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.h-100 {
    height: 100%;
}

.my-btn {
    border: 2px solid $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $footer-bg-color;
    padding: 10px 20px;
    color: $text-white-color;
    cursor: pointer;

    &.primary {
        background-color: $primary-color;
        border: none;
        font-size: 12px;
        padding: 10px 50px;

        &:hover {
            background-color: lighten($primary-color, 10);
        }
    }

    &:hover {
        background-color: lighten($footer-bg-color, 10);
    }
}
