header {
    background-color: $header-bg-color;

    .header-top {
        height: 20px;
        font-size: 10px;
        text-transform: uppercase;
        color: $text-white-color;
        background-color: $primary-color;

        .container {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .header-bottom {
        @include d-flex-center;
        padding: 15px 0;
        justify-content: space-between;
        height: 90px;

        .logo {
            height: 100%;
        }
    }
}

.nav-bar {
    ul {
        @include d-flex-center;
        gap: 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        list-style: none;

        li {
            position: relative;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }

            &:hover:after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: $primary-color;
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
